.headerImage{
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
}

.alignRank{
    display: inline-block;
}
 .m-20{
     margin : 20px auto;
 }
 .m-10{
    margin : 10px auto;
}
 .row2{
     padding-left: 10px;
 }

 .mt-40{
     margin-top: 40px;
 }
 .mb-20{
    margin-bottom: 20px;
 }
.others{
    height: 388px;
}
.m0{
    margin: 0;
}
.similar{
    width: 100%;
    padding: 0 15px;
    color: inherit
}

.similarImage{
    width: 50px;
    background: bisque;
    padding: 5px;
    border-radius: 10px;
}

.similarName{
    display: inline; 
}
 

.lightLine{
    border-color: #c2d6c7;
    opacity: .4;
}