.background{
    background-image: url('../assets/background.png');
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 20px;
}

.logo{
    width: 100px;
}
.left{
    float: left;
}

.right{
    float: right;
}