.background{
    background-image: url('../assets/background.png');
    background-size: cover;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 20px 12%; 
}

.logo{
    width: 100px;
}
.left{
    float: left;
}

.right{
    float: right;
}

.inline{
    display: inline-block;
}

.searchParent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    margin: 10px ; 
}

@media screen and (max-width: 768px) {
    .header{
        text-align: center;
    }
}
 
.findthebest{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.categories{

    background-color: #f2f2f2;
}

.trending{
}

.pt-10{
    padding-top: 10px;
}