.search{
    width: 80%;
    padding: 2px 4px;
    display: flex;
    align-items: center; 
}

.parentMargin{
    padding: 0 12%;  
}

@media screen and (max-width: 768px) {
    .search{
        width: 100%;
    }

    .parentMargin{
        padding: 0 5%!important;
    }
}

.cardHover  :hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
} 
.notCardHover :hover{

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

